#paragraph-result{
    margin-top: 20px;
}
input{
    margin-top: 10px;
    width: 110px;
    border-radius: 5px;
}

body  {
    background-image: url(./src/imc.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div{
    width: 300px;
    background-color: rgba(74, 206, 202, 0.888);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
button{
    width: 110px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    height: 35px;
}
@media screen and (max-width: 350px){
    div {
        width: auto;
        height: auto;
        margin-bottom: 50px;
    }
}